<ul>
    {{#each users as |user|}}
    <li>
        <p>User ID: {{user.id}}</p>
        <p>Username: {{user.username}}</p>
        <p>User Email: {{user.email}}</p>
        <p>User Password: {{user.password}}</p>
    </li>
    {{/each}}
</ul>