{{!-- User Dashboard --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <h1>Tech Blog {{user.username}}</h1>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-secondary" id="logout">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar">
</nav>
<form>
  <div class="container col-md-3">
    <label for="titleField" class="form-label">Please Enter a Blog Title</label>
    <input type="text" class="form-control" id="titleField" aria-describedby="blogTitle">
    <label for="contentField" class="form-label">Please enter blog content</label>
    <textarea class="form-control" id="contentField" aria-describedby="blogContent"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="addBlogBtn">Submit</button>
</form>
<ul class="list-group">
  {{#each userBlog as |blog| }}
    {{#if blog.completed}}
      <li class="list-group-item list-group-item-primary">{{blog.task}}</li>
    {{else}}
      <li class="list-group-item list-group-item-danger">{{blog.task}}</li>
    {{/if}}
  {{/each}}
</ul>